In [ ]:
simple coding

In [1]:
2 + 2

4

In [2]:
4 - 3

1

In [3]:
4*3

12

In [4]:
4/2

2.0

In [5]:
print( "hello world" )

hello world

In [6]:
print( " hello every one")

 hello every one

In [7]:
x = 2

In [8]:
print(x)

2

In [9]:
type(x)

int

In [10]:
name = "kumar"

In [11]:
print(name)

kumar

In [12]:
type(name)

str

In [13]:
i = 7.5

In [14]:
print(i)

7.5

In [15]:
type(i)

float

In [ ]:
int , float , str - Data types

In [21]:
x = 2
y = 5

x+y
print(x+y)

7

In [19]:
import numpy

In [ ]:
# numpy.TAB button

In [20]:
numpy.sqrt(9)

3.0

In [22]:
numpy.sqrt([9,16,25,49,81])

array([3., 4., 5., 7., 9.])

In [ ]:
[] - list create square brackets

In [23]:
lis1 = [9,16,49,81,144]

In [24]:
print(lis1)

[9, 16, 49, 81, 144]

In [41]:
numpy.sqrt(lis1)

array([ 3.,  4.,  7.,  9., 12.])

In [35]:
x = int(2)
y = str(2.5)

In [37]:
# x = int("thillai")

In [27]:
print(x,y)

2 2

In [28]:
type(x),type(y)

(int, str)

In [38]:
x = " values 3 $ % & lfjdlsfj 9--03"

In [39]:
x

' values 3 $ % & lfjdlsfj 9--03'

In [40]:
type(x)

str

In [42]:
x  =6
y = "lkdfjdslk"

In [43]:
name = input("enter ur name :")

enter ur name :guvi

In [44]:
print(name)

guvi

In [47]:
age = int(input())

50

In [48]:
age

50

In [49]:
address = str(input())

lkjflskdfjslkd9

In [50]:
percentage = float(input())

5.4

In [51]:
percentage

5.4

In [ ]:
Python data types:
    
    text type  - str
    numeric  - int, float
    sequence type - list , tuples,range
    mapping type  - dict
    set type - set
    boolean type - bool
    None type - None

In [61]:
lis = ['a',"b",'c',1,2,3]  - list

In [55]:
tup = ( 'a','b','c',1,2,3)  - tuples

In [54]:
type(tup)

tuple

In [ ]:
tuples - will nt allow duplicate , immutable
list -    mutable , allow duplicates

In [ ]:
range - budet , range

In [57]:
 s = range(1000,2000)

In [59]:
range(6)

range(0, 6)

In [ ]:
looping concepts - for , do loops

In [ ]:
dictionary data type

key      -  values
interest - vatti , aarvam

In [62]:
x = {"interest" : "vatti" , "facination": "attraction"}

In [63]:
type(x)

dict

In [67]:

x["interest"]  - key - slice , dice , index

'vatti'

In [68]:
x["facination"] - keys

'attraction'

In [69]:
x.keys()

dict_keys(['interest', 'facination'])

In [70]:
x.values()

dict_values(['vatti', 'attraction'])

In [ ]:
a = {1,2,3} , b  = {2,4}

In [ ]:
dict1 = {'key':'val'}

In [78]:
x = bool(5)

In [79]:
type(x)

bool

In [80]:
yes or no , true or false

True

In [81]:
print(10>9)

True

In [82]:
10>9
10 == 9
10 < 9

False

In [76]:
# None , NAN  

x = None

In [77]:
type(x)

NoneType

In [ ]:
AUB   , A intersection B  , 

set theory 
a = {1,2,3} b = {2,4}
A inersection B -- 2 , AUB = {1,2,3,4}

In [71]:
a = {1,2,3}

In [72]:
type(a)

set

In [ ]:
    set type - set
    boolean type - bool
    None type - None

In [ ]:
NAN , None , NaT   - blanks

In [83]:
lis2 = [1,2,3,None,4]

In [88]:

if cond:
    sttatment  - indent
else if or elif cond:
    sttt                  multiple condition ( nested if )
elif cond:
    stttt
    ...
else:
    sttatment

In [89]:
a = 200
b = 33

if b > a:
    print("b is gt a")
else:
    print("b is not gt a")

b is not gt a

In [92]:
a = 10
b = 5
if (b > a) and (b<a) or (b != a)  :
    print("b is gt a")
elif a == b:
    print( "a&b are eqaul")
else:
    print("b is not gt a")

b is gt a

In [94]:
a= 10
b=5
if (b<a) and (b==a):
    print("yes")
else:
    print("No")

No

In [95]:
# list operations

sample = ["apple","banana","cherry","apple"]

In [96]:
sample

['apple', 'banana', 'cherry', 'apple']

In [ ]:
list - Ordered changable allow duplicates

In [ ]:
index - always start zero 0

In [97]:
sample[0]

'apple'

In [98]:
sample[0:1]   ( 1-1 = 0 )

['apple']

In [99]:
sample[0:2] ( 0 , 2-1 =1 -> 0 ,1)

['apple', 'banana']

In [100]:
sample[1:4] ( 1,2,3(4-1))

['banana', 'cherry', 'apple']

In [103]:
sample[5]

IndexError: list index out of range

In [ ]:
['apple', 'banana', 'cherry', 'apple']

In [ ]:
list - ia collection which is oredered and changable , allow dup memeber
tuple - ia collection which is oredered and unchangable , allow dup memeber

In [ ]:
set - is a colleciton which is unordered , unchangable , unindexed,no dup.

In [ ]:
dict - is a colleciton which is ordered and chnagable , no dup

In [104]:
x = (12,3,1,3,1,3)

In [105]:
x

(12, 3, 1, 3, 1, 3)

In [106]:
sample

['apple', 'banana', 'cherry', 'apple']

In [107]:
sample[0] = "tree"

In [108]:
sample

['tree', 'banana', 'cherry', 'apple']

In [109]:
sample[-1]

'apple'

In [128]:
sample = ['apple', 'banana', 'cherry', 'apple']

In [129]:
sample

['apple', 'banana', 'cherry', 'apple']

In [ ]:
list ops:
insert 
append
extend
remove
clear

In [130]:
sample.append("orange")

In [131]:
sample

['apple', 'banana', 'cherry', 'apple', 'orange']

In [132]:
sample.insert(1,"tree")

In [133]:
sample

['apple', 'tree', 'banana', 'cherry', 'apple', 'orange']

In [134]:
sub = ["mango",1,2]

In [135]:
sample.extend(sub)

In [136]:
sample

['apple', 'tree', 'banana', 'cherry', 'apple', 'orange', 'mango', 1, 2]

In [137]:
sub.extend(sample)

In [139]:
# sub

In [140]:
del sample

In [141]:
# sample

In [125]:
sub

['mango', 1, 2]

In [142]:
sub.clear()

In [143]:
sub

[]

In [144]:
sample = ["apple","mango","banan"]

In [145]:
sample

['apple', 'mango', 'banan']

In [148]:
len(sample)

3

In [ ]:
# loop concept: for syntax

for i in data type:   repeatation or iterative (process)
    sttatmets

In [149]:
for i in sample: 
    print(i)

apple
mango
banan

In [ ]:
sample[0] , sample[1] , sample[2]

In [150]:
for i in range(1,len(sample)): 
    print(sample[i])

apple
mango
banan

In [ ]:
range(0,6)
range(6)

In [151]:
for i in range(len(sample)): 
    print(sample[i])

apple
mango
banan

In [154]:
fruits = ["apple","banana","cherry","kiwi","mango"]

In [160]:
newlist = []

In [161]:
for x in fruits: 
    if "a" in x[0:1]:             
        newlist.append(x)     
print(newlist)

['apple']

In [158]:
fruits[0][0:1]

'a'

In [165]:
fruits.sort(reverse = True) - desc

In [166]:
fruits

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
sort ( ascedning )

In [173]:
newlist = []
cond = input()
for x in fruits: 
    if cond in x:             
        newlist.append(x)     
print(newlist)

m
['mango']

In [ ]:
list methods:
    
append() , clear(),copy(),count(),extent,index,pop()

In [174]:
name = "murali"

In [175]:
name.isupper()

False

In [176]:
name.lower()

'murali'

In [177]:
name.upper()

'MURALI'

In [178]:
name.strip()

'murali'

In [179]:
# string funcitions

In [180]:
name = "   murali   "

In [181]:
name.strip()

'murali'

In [ ]:
# custom funciton create 

# my own fucntion

In [182]:
fname = "murali"
lname = "sss"

In [184]:
fname + ' ' + lname

'murali sss'

In [ ]:
funcition create - syntax def
def funcitonname:
    statment or ops
    return values

In [191]:
def myfunction(fname,lname):
    x = fname + lname
    return x

In [192]:
myfunction("murali","ram")

'muraliram'

In [193]:
myfunction("guvi","ds")

'guvids'

In [194]:
myfunction("python","loop")

'pythonloop'

In [ ]:
y = 9x2 + 8x + 12  ( quardardic eqn) 10th graph -- parabolla

In [195]:
import numpy
def parabolla_eqn(x):
    y = 9* ( x ** 2) + (8 * x) + 12
    z = 9* (numpy.square(x)) + (8 * x) + 12
    return y,z

In [196]:
illakiya_Python_expert(2)

(64, 64)

In [197]:
for i in range(0,5):
    print(illakiya_Python_expert(i))

(12, 12)
(29, 29)
(64, 64)
(117, 117)
(188, 188)

In [ ]:
# cycle , two wheeler 

Road signal , red , yellow , green

take value input 
1.red - print("stop")
2.yellow - print("ready")
3.green - print(go)
4.other - na

In [202]:
val = input()

if val == "red":
    print("stop")
elif val == "yellow":
    print("ready")
elif val == "green":
    print("go")
else:
    print("NA")

black
NA

In [203]:
2+2

4

In [205]:
# string functions

name = "thillaikkarasan murali"

In [206]:
type(name)

str

In [ ]:
name.TAB button

In [207]:
name.isdigit()

False

In [208]:
name.isalpha()

False

In [209]:
name.islower()

True

In [210]:
name.upper()

'THILLAIKKARASAN MURALI'

In [211]:
name.lower()

'thillaikkarasan murali'

In [ ]:
string function already in python we have used...

In [ ]:
# create my own customs funciton

syntax:
def functionname(parmater1,parameter2,...):
    statement
    return value

In [214]:
def ramkumar(x,m,c):
    y = m * x + c     
    return y

In [216]:
ramkumar(4,3,5)

17

In [225]:
def kamal(fname,lname):
    x = fname + ' ' +lname
    x = x.upper()
#     x = fname  + lname
    return x

In [226]:
kamal("reshma","jeffrin")

'RESHMA JEFFRIN'

In [ ]:
class - multiple funcitons we can create...

In [227]:
import numpy
class rajinikanth:
    
    def parabolla_eqn(x):
        y = 9* ( x ** 2) + (8 * x) + 12
        z = 9* (numpy.square(x)) + (8 * x) + 12
        return y,z
    
    def ramkumar(x,m,c):
        y = m * x + c     
        return y

    def kamal(fname,lname):
        x = fname + ' ' +lname
        x = x.upper()
    #     x = fname  + lname
        return x

In [235]:
type(c)

type

In [230]:
c = rajinikanth

In [231]:
c.kamal("thillai","murali")

'THILLAI MURALI'

In [232]:
c.ramkumar(1,2,3)

5

In [233]:
c.parabolla_eqn(10)

(992, 992)

In [ ]:
class name:

def 
def
...

In [ ]:
class classname(parameter1,p2,...):
    
    def kamal

In [212]:
name.lower()   - lower function in built

'thillaikkarasan murali'

In [ ]:
project:
step 1 : data clean
step 2  : basic stats
step 3 : Data analyse
step 4 : report

In [ ]:
step 1 : cutomer detail
    steps 2 : customer sum assured amout
    step 3 : nomination and docnet
    step 4  : witness & documen thand over

In [ ]:
class insurance(longterm):

    def customer(name,addrers):
        ...
    def elligble(salary,pan,adhar,I)
    calc
    return ellifgle sum assure

    def ...

In [ ]:
c1 = instum(p1,p2...)

In [ ]:
c2 = detail ... 1000000

# List comprehension

In [ ]:
list - collection of objects

In [236]:
new = [ "milk" , "peper" , "masala" , "vegtables" ]

In [242]:
new[1:3]

['peper', 'masala']

In [238]:
type(new)

list

In [ ]:
list comp  :  short syntax for creating new list based on existing list

In [ ]:
Advantages:
    time efficient
    require fewer lines ( short line of codes)
    transform iterative statsments ( transformationation)

In [ ]:
syntax:
    
    newlist  = [  expression(element) for element in oldlist if condtion  ]

In [250]:
ls = [  reshma for reshma in new ]

In [251]:
ls

['milk', 'peper', 'masala', 'vegtables']

In [255]:
# Example 2:

# even number print

even = [ i for i in range(0,11) if i % 2 == 0 ]
print(even)

[0, 2, 4, 6, 8, 10]

In [ ]:
for i in datatype: i assign , increamnet
    sttt

In [259]:
# new
# for i in range(1,10): ( 10 -1 = 9)
#     print(i)

In [ ]:
# 0,1,2,3,...,11-1 = 10   , 0/2 = R=0 even else odd
range
list
dict
tuple
int
str
set
bool
None
float

In [260]:
# difference between list comprehence & other

import time
def kamal(n):
    result = []
    for i in range(n):
        result.append(i ** 2)
    return result
def rajinikanth(n):
    x = [i**2 for i in range(n)]
    return x
begin = time.time()
kamal(100000)  
end = time.time()
print("time forloop", round(end-begin,2))

begin = time.time()
rajinikanth(100000)
end = time.time()
print("time listcomp", round(end-begin,2))

time forloop 0.58
time listcomp 0.34

In [275]:
# List =[three for three in range(0,101) if three%3== 0]
# List

list=i for in range(100) if i%3==0

!=  or ne

In [271]:
# Odd = [i for i in range(101) if i0]

In [266]:
lst=['even' if i%2==0 else 'odd' for i in range(11)  ]
print(lst)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [265]:
three=[i for i in range(101)if i%3==0]
print(three)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [264]:
# Pasupathi P.N 4:18 PM
# lst=['even' if i%2==0 else 'odd' for i in range(11)  ]
# print(lst)
# Arunkumar S  to  You (Direct Message) 4:19 PM
# three=[i for i in range(101)if i%3==0]
# print(three)
# Pasupathi P.N  to  You (Direct Message) 4:19 PM
# lst=[i for i in range(1,101) if i%3==0 ]
# print(lst)
# Kumar 4:20 PM
# for i in range(1,101):
#     if i % 3 == 0:
#         print(i)
        
# Ram =[i for i in range(100) if i%3==0]
# print(Ram)

In [277]:
# for i in range(1,101):
#     if i % 3 == 0:
#         print(i)

In [279]:
Even=[i for i in range (0,100)if i %2==0]

In [ ]:
8   -- 2,4,8 , 10 - 5,10  , 6 - 2,3,6

In [290]:
# lis = [ i for i in range(101) if i %5 == 0  ]
# lis

In [284]:
1,2,..,100  -> 5  ->  5,10,15,20,25,...
               10 ->  10,20,30,...

# File handling

In [ ]:
file = open(filename , mode)

In [294]:
file = open('guvi.txt','r')
file.read()

'hello'

In [ ]:
r - open existing file for read ops.
w - open existing file for write ops
a - open a file for append ops

In [295]:
file = open('guvi.txt','w')
file.write("python is easy")
file.write("data science in python")
file.close()

In [296]:
file = open('guvi.txt','a')
file.write("we are learning python")
file.close()

In [301]:
file = open('guvi.txt','a')
file.write("pytho")
file.write("\n c++")
file.write("\n R ")
file.close()

In [302]:
file = open('guvi.txt','w')
lis = ['this is delhi \n',"chennia\n","bangalore\n"]
file.writelines(lis)
file.close()

In [ ]:
# import os
# os.chdir(r'path)
# list = os.list()

# Regular Expression (RegEx)

In [303]:
import re  - search some pattern , detect string , find or search

In [304]:
name = 'python is a tool in guvi platform'

        012345678910....

In [306]:
x = re.search('python',name)

In [308]:
x = re.search('guvi',name)

In [309]:
x

In [310]:
string = "helloo my number is 27207420347023 and my friend no is 888888"

In [321]:
ph = re.findall("\d+",string)[1]

In [322]:
d = numbers , d+ - actual values

'888888'

In [334]:
name = "afor"
re.search("\a",name)

In [ ]:
re.sub(pattern,repl,strin)

In [335]:
re.sub('ub','****','subject has uber booked already')

's****ject has ****er booked already'

In [336]:
re.sub('user','*****',"the user id password ")

'the ***** id password '

In [340]:
re.sub('password','pwd',"the user id password ")

'the user id pwd '

In [333]:
\A   - begin with A  Ex.   \Afor
\b  - begin with b \bge

\d  - number
\D - characters
\s  - white space
\S - non white space

SyntaxError: unexpected character after line continuation character (2513862820.py, line 1)