In [ ]:
simple coding

In [1]:
2 + 2

4

In [2]:
4 - 3

1

In [3]:
4*3

12

In [4]:
4/2

2.0

In [5]:
print( "hello world" )

hello world

In [6]:
print( " hello every one")

 hello every one

In [7]:
x = 2

In [8]:
print(x)

2

In [9]:
type(x)

int

In [10]:
name = "kumar"

In [11]:
print(name)

kumar

In [12]:
type(name)

str

In [13]:
i = 7.5

In [14]:
print(i)

7.5

In [15]:
type(i)

float

In [ ]:
int , float , str - Data types

In [21]:
x = 2
y = 5

x+y
print(x+y)

7

In [19]:
import numpy

In [ ]:
# numpy.TAB button

In [20]:
numpy.sqrt(9)

3.0

In [22]:
numpy.sqrt([9,16,25,49,81])

array([3., 4., 5., 7., 9.])

In [ ]:
[] - list create square brackets

In [23]:
lis1 = [9,16,49,81,144]

In [24]:
print(lis1)

[9, 16, 49, 81, 144]

In [41]:
numpy.sqrt(lis1)

array([ 3.,  4.,  7.,  9., 12.])

In [35]:
x = int(2)
y = str(2.5)

In [37]:
# x = int("thillai")

In [27]:
print(x,y)

2 2

In [28]:
type(x),type(y)

(int, str)

In [38]:
x = " values 3 $ % & lfjdlsfj 9--03"

In [39]:
x

' values 3 $ % & lfjdlsfj 9--03'

In [40]:
type(x)

str

In [42]:
x  =6
y = "lkdfjdslk"

In [43]:
name = input("enter ur name :")

enter ur name :guvi

In [44]:
print(name)

guvi

In [47]:
age = int(input())

50

In [48]:
age

50

In [49]:
address = str(input())

lkjflskdfjslkd9

In [50]:
percentage = float(input())

5.4

In [51]:
percentage

5.4

In [ ]:
Python data types:
    
    text type  - str
    numeric  - int, float
    sequence type - list , tuples,range
    mapping type  - dict
    set type - set
    boolean type - bool
    None type - None

In [61]:
lis = ['a',"b",'c',1,2,3]  - list

In [55]:
tup = ( 'a','b','c',1,2,3)  - tuples

In [54]:
type(tup)

tuple

In [ ]:
tuples - will nt allow duplicate , immutable
list -    mutable , allow duplicates

In [ ]:
range - budet , range

In [57]:
 s = range(1000,2000)

In [59]:
range(6)

range(0, 6)

In [ ]:
looping concepts - for , do loops

In [ ]:
dictionary data type

key      -  values
interest - vatti , aarvam

In [62]:
x = {"interest" : "vatti" , "facination": "attraction"}

In [63]:
type(x)

dict

In [67]:

x["interest"]  - key - slice , dice , index

'vatti'

In [68]:
x["facination"] - keys

'attraction'

In [69]:
x.keys()

dict_keys(['interest', 'facination'])

In [70]:
x.values()

dict_values(['vatti', 'attraction'])

In [ ]:
a = {1,2,3} , b  = {2,4}

In [ ]:
dict1 = {'key':'val'}

In [78]:
x = bool(5)

In [79]:
type(x)

bool

In [80]:
yes or no , true or false

True

In [81]:
print(10>9)

True

In [82]:
10>9
10 == 9
10 < 9

False

In [76]:
# None , NAN  

x = None

In [77]:
type(x)

NoneType

In [ ]:
AUB   , A intersection B  , 

set theory 
a = {1,2,3} b = {2,4}
A inersection B -- 2 , AUB = {1,2,3,4}

In [71]:
a = {1,2,3}

In [72]:
type(a)

set

In [ ]:
    set type - set
    boolean type - bool
    None type - None

In [ ]:
NAN , None , NaT   - blanks

In [83]:
lis2 = [1,2,3,None,4]

In [88]:

if cond:
    sttatment  - indent
else if or elif cond:
    sttt                  multiple condition ( nested if )
elif cond:
    stttt
    ...
else:
    sttatment

In [89]:
a = 200
b = 33

if b > a:
    print("b is gt a")
else:
    print("b is not gt a")

b is not gt a

In [92]:
a = 10
b = 5
if (b > a) and (b<a) or (b != a)  :
    print("b is gt a")
elif a == b:
    print( "a&b are eqaul")
else:
    print("b is not gt a")

b is gt a

In [94]:
a= 10
b=5
if (b<a) and (b==a):
    print("yes")
else:
    print("No")

No

In [95]:
# list operations

sample = ["apple","banana","cherry","apple"]

In [96]:
sample

['apple', 'banana', 'cherry', 'apple']

In [ ]:
list - Ordered changable allow duplicates

In [ ]:
index - always start zero 0

In [97]:
sample[0]

'apple'

In [98]:
sample[0:1]   ( 1-1 = 0 )

['apple']

In [99]:
sample[0:2] ( 0 , 2-1 =1 -> 0 ,1)

['apple', 'banana']

In [100]:
sample[1:4] ( 1,2,3(4-1))

['banana', 'cherry', 'apple']

In [103]:
sample[5]

IndexError: list index out of range

In [ ]:
['apple', 'banana', 'cherry', 'apple']

In [ ]:
list - ia collection which is oredered and changable , allow dup memeber
tuple - ia collection which is oredered and unchangable , allow dup memeber

In [ ]:
set - is a colleciton which is unordered , unchangable , unindexed,no dup.

In [ ]:
dict - is a colleciton which is ordered and chnagable , no dup

In [104]:
x = (12,3,1,3,1,3)

In [105]:
x

(12, 3, 1, 3, 1, 3)

In [106]:
sample

['apple', 'banana', 'cherry', 'apple']

In [107]:
sample[0] = "tree"

In [108]:
sample

['tree', 'banana', 'cherry', 'apple']

In [109]:
sample[-1]

'apple'

In [128]:
sample = ['apple', 'banana', 'cherry', 'apple']

In [129]:
sample

['apple', 'banana', 'cherry', 'apple']

In [ ]:
list ops:
insert 
append
extend
remove
clear

In [130]:
sample.append("orange")

In [131]:
sample

['apple', 'banana', 'cherry', 'apple', 'orange']

In [132]:
sample.insert(1,"tree")

In [133]:
sample

['apple', 'tree', 'banana', 'cherry', 'apple', 'orange']

In [134]:
sub = ["mango",1,2]

In [135]:
sample.extend(sub)

In [136]:
sample

['apple', 'tree', 'banana', 'cherry', 'apple', 'orange', 'mango', 1, 2]

In [137]:
sub.extend(sample)

In [139]:
# sub

In [140]:
del sample

In [141]:
# sample

In [125]:
sub

['mango', 1, 2]

In [142]:
sub.clear()

In [143]:
sub

[]

In [144]:
sample = ["apple","mango","banan"]

In [145]:
sample

['apple', 'mango', 'banan']

In [148]:
len(sample)

3

In [ ]:
# loop concept: for syntax

for i in data type:   repeatation or iterative (process)
    sttatmets

In [149]:
for i in sample: 
    print(i)

apple
mango
banan

In [ ]:
sample[0] , sample[1] , sample[2]

In [150]:
for i in range(1,len(sample)): 
    print(sample[i])

apple
mango
banan

In [ ]:
range(0,6)
range(6)

In [151]:
for i in range(len(sample)): 
    print(sample[i])

apple
mango
banan

In [154]:
fruits = ["apple","banana","cherry","kiwi","mango"]

In [160]:
newlist = []

In [161]:
for x in fruits: 
    if "a" in x[0:1]:             
        newlist.append(x)     
print(newlist)

['apple']

In [158]:
fruits[0][0:1]

'a'

In [165]:
fruits.sort(reverse = True) - desc

In [166]:
fruits

['mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
sort ( ascedning )

In [173]:
newlist = []
cond = input()
for x in fruits: 
    if cond in x:             
        newlist.append(x)     
print(newlist)

m
['mango']

In [ ]:
list methods:
    
append() , clear(),copy(),count(),extent,index,pop()

In [174]:
name = "murali"

In [175]:
name.isupper()

False

In [176]:
name.lower()

'murali'

In [177]:
name.upper()

'MURALI'

In [178]:
name.strip()

'murali'

In [179]:
# string funcitions

In [180]:
name = "   murali   "

In [181]:
name.strip()

'murali'

In [ ]:
# custom funciton create 

# my own fucntion

In [182]:
fname = "murali"
lname = "sss"

In [184]:
fname + ' ' + lname

'murali sss'

In [ ]:
funcition create - syntax def
def funcitonname:
    statment or ops
    return values

In [191]:
def myfunction(fname,lname):
    x = fname + lname
    return x

In [192]:
myfunction("murali","ram")

'muraliram'

In [193]:
myfunction("guvi","ds")

'guvids'

In [194]:
myfunction("python","loop")

'pythonloop'

In [ ]:
y = 9x2 + 8x + 12  ( quardardic eqn) 10th graph -- parabolla

In [195]:
import numpy
def parabolla_eqn(x):
    y = 9* ( x ** 2) + (8 * x) + 12
    z = 9* (numpy.square(x)) + (8 * x) + 12
    return y,z

In [196]:
illakiya_Python_expert(2)

(64, 64)

In [197]:
for i in range(0,5):
    print(illakiya_Python_expert(i))

(12, 12)
(29, 29)
(64, 64)
(117, 117)
(188, 188)

In [ ]:
# cycle , two wheeler 

Road signal , red , yellow , green

take value input 
1.red - print("stop")
2.yellow - print("ready")
3.green - print(go)
4.other - na

In [202]:
val = input()

if val == "red":
    print("stop")
elif val == "yellow":
    print("ready")
elif val == "green":
    print("go")
else:
    print("NA")

black
NA

In [203]:
2+2

4

In [205]:
# string functions

name = "thillaikkarasan murali"

In [206]:
type(name)

str

In [ ]:
name.TAB button

In [207]:
name.isdigit()

False

In [208]:
name.isalpha()

False

In [209]:
name.islower()

True

In [210]:
name.upper()

'THILLAIKKARASAN MURALI'

In [211]:
name.lower()

'thillaikkarasan murali'

In [ ]:
string function already in python we have used...

In [ ]:
# create my own customs funciton

syntax:
def functionname(parmater1,parameter2,...):
    statement
    return value

In [214]:
def ramkumar(x,m,c):
    y = m * x + c     
    return y

In [216]:
ramkumar(4,3,5)

17

In [225]:
def kamal(fname,lname):
    x = fname + ' ' +lname
    x = x.upper()
#     x = fname  + lname
    return x

In [226]:
kamal("reshma","jeffrin")

'RESHMA JEFFRIN'

In [ ]:
class - multiple funcitons we can create...

In [227]:
import numpy
class rajinikanth:
    
    def parabolla_eqn(x):
        y = 9* ( x ** 2) + (8 * x) + 12
        z = 9* (numpy.square(x)) + (8 * x) + 12
        return y,z
    
    def ramkumar(x,m,c):
        y = m * x + c     
        return y

    def kamal(fname,lname):
        x = fname + ' ' +lname
        x = x.upper()
    #     x = fname  + lname
        return x

In [235]:
type(c)

type

In [230]:
c = rajinikanth

In [231]:
c.kamal("thillai","murali")

'THILLAI MURALI'

In [232]:
c.ramkumar(1,2,3)

5

In [233]:
c.parabolla_eqn(10)

(992, 992)

In [ ]:
class name:

def 
def
...

In [ ]:
class classname(parameter1,p2,...):
    
    def kamal

In [212]:
name.lower()   - lower function in built

'thillaikkarasan murali'

In [ ]:
project:
step 1 : data clean
step 2  : basic stats
step 3 : Data analyse
step 4 : report

In [ ]:
step 1 : cutomer detail
    steps 2 : customer sum assured amout
    step 3 : nomination and docnet
    step 4  : witness & documen thand over

In [ ]:
class insurance(longterm):

    def customer(name,addrers):
        ...
    def elligble(salary,pan,adhar,I)
    calc
    return ellifgle sum assure

    def ...

In [ ]:
c1 = instum(p1,p2...)

In [ ]:
c2 = detail ... 1000000

# List comprehension

In [ ]:
list - collection of objects

In [1]:
new = [ "milk" , "peper" , "masala" , "vegtables" ]

In [242]:
new[1:3]

['peper', 'masala']

In [238]:
type(new)

list

In [ ]:
list comp  :  short syntax for creating new list based on existing list

In [ ]:
Advantages:
    time efficient
    require fewer lines ( short line of codes)
    transform iterative statsments ( transformationation)

In [ ]:
syntax:
    
    newlist  = [  expression(element) for element in oldlist if condtion  ]

In [250]:
ls = [  reshma for reshma in new ]

In [251]:
ls

['milk', 'peper', 'masala', 'vegtables']

In [255]:
# Example 2:

# even number print

even = [ i for i in range(0,11) if i % 2 == 0 ]
print(even)

[0, 2, 4, 6, 8, 10]

In [ ]:
for i in datatype: i assign , increamnet
    sttt

In [259]:
# new
# for i in range(1,10): ( 10 -1 = 9)
#     print(i)

In [ ]:
# 0,1,2,3,...,11-1 = 10   , 0/2 = R=0 even else odd
range
list
dict
tuple
int
str
set
bool
None
float

In [260]:
# difference between list comprehence & other

import time
def kamal(n):
    result = []
    for i in range(n):
        result.append(i ** 2)
    return result
def rajinikanth(n):
    x = [i**2 for i in range(n)]
    return x
begin = time.time()
kamal(100000)  
end = time.time()
print("time forloop", round(end-begin,2))

begin = time.time()
rajinikanth(100000)
end = time.time()
print("time listcomp", round(end-begin,2))

time forloop 0.58
time listcomp 0.34

In [275]:
# List =[three for three in range(0,101) if three%3== 0]
# List

list=i for in range(100) if i%3==0

!=  or ne

In [271]:
# Odd = [i for i in range(101) if i0]

In [266]:
lst=['even' if i%2==0 else 'odd' for i in range(11)  ]
print(lst)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [265]:
three=[i for i in range(101)if i%3==0]
print(three)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [264]:
# Pasupathi P.N 4:18 PM
# lst=['even' if i%2==0 else 'odd' for i in range(11)  ]
# print(lst)
# Arunkumar S  to  You (Direct Message) 4:19 PM
# three=[i for i in range(101)if i%3==0]
# print(three)
# Pasupathi P.N  to  You (Direct Message) 4:19 PM
# lst=[i for i in range(1,101) if i%3==0 ]
# print(lst)
# Kumar 4:20 PM
# for i in range(1,101):
#     if i % 3 == 0:
#         print(i)
        
# Ram =[i for i in range(100) if i%3==0]
# print(Ram)

In [277]:
# for i in range(1,101):
#     if i % 3 == 0:
#         print(i)

In [279]:
Even=[i for i in range (0,100)if i %2==0]

In [ ]:
8   -- 2,4,8 , 10 - 5,10  , 6 - 2,3,6

In [290]:
# lis = [ i for i in range(101) if i %5 == 0  ]
# lis

In [284]:
1,2,..,100  -> 5  ->  5,10,15,20,25,...
               10 ->  10,20,30,...

# File handling

In [ ]:

# tkinter - package library
# import tkinter

file = open(filename , mode)

In [294]:
file = open('guvi.txt','r')
file.read()

'hello'

In [ ]:
r - open existing file for read ops.
w - open existing file for write ops
a - open a file for append ops

In [295]:
file = open('guvi.txt','w')
file.write("python is easy")
file.write("data science in python")
file.close()

In [296]:
file = open('guvi.txt','a')
file.write("we are learning python")
file.close()

In [301]:
file = open('guvi.txt','a')
file.write("pytho")
file.write("\n c++")
file.write("\n R ")
file.close()

In [302]:
file = open('guvi.txt','w')
lis = ['this is delhi \n',"chennia\n","bangalore\n"]
file.writelines(lis)
file.close()

In [ ]:
# import os
# os.chdir(r'path)
# list = os.list()

# Regular Expression (RegEx)

In [303]:
import re  - search some pattern , detect string , find or search

In [304]:
name = 'python is a tool in guvi platform'

        012345678910....

In [306]:
x = re.search('python',name)

In [308]:
x = re.search('guvi',name)

In [309]:
x

In [310]:
string = "helloo my number is 27207420347023 and my friend no is 888888"

In [321]:
ph = re.findall("\d+",string)[1]

In [322]:
d = numbers , d+ - actual values

'888888'

In [334]:
name = "afor"
re.search("\a",name)

In [ ]:
re.sub(pattern,repl,strin)

In [335]:
re.sub('ub','****','subject has uber booked already')

's****ject has ****er booked already'

In [336]:
re.sub('user','*****',"the user id password ")

'the ***** id password '

In [340]:
re.sub('password','pwd',"the user id password ")

'the user id pwd '

In [1]:
# \A   - begin with A  Ex.   \Afor
# \b  - begin with b \bge

# \d  - number
# \D - characters
# \s  - white space
# \S - non white space

In [ ]:
pip  -  python insall packages

In [3]:
# import tkinter

In [4]:
# import openpyxl

In [5]:
# import seaborn

In [7]:
# import xlsx

# PIP option

In [ ]:
python Lambda function

In [8]:
name = "thillai"

In [9]:
name.capitalize()

'Thillai'

In [ ]:
def kamal(p1,p2,..):
    stt

In [ ]:
lambda - anonymous function

In [ ]:
lambda arguments : experession

In [10]:
x = lambda price : price * 10

In [13]:
x(20)

200

In [ ]:
kamal()

In [ ]:
module 1 


python data types:
int float string bool , none    , tuples , list , dict , set , range

In [2]:
# variable create

x = 5

In [3]:
type(x)

int

In [4]:
name = "thillai murali"

In [5]:
type(name)

str

In [6]:
nnn22423423 = "ldfgldfhg"

In [ ]:
int - 1,2,3,4,5....,inf

string - "  values "

float , 1.2930248239 .

In [ ]:
variabe_name = value

In [7]:
print(x)

5

In [8]:
print("msg print")

msg print

In [9]:
type(x)

int

In [ ]:
dtype - data type

In [ ]:
print , type , data type , variable creation

In [ ]:
data types:
    
    grocessories or new year or family memeber 
    
    list - collection of item

In [10]:
x = 5

In [11]:
x = [ 1,2,3,"masala","appearlas","slippers","new year","cakes" ]


    0,1,2,3.......

In [12]:
type(x)

list

In [14]:
k = list([1,23])

In [15]:
k

[1, 23]

In [17]:
bb = ( 1,2,3,4,"kkk"  )

In [18]:
type(bb)

tuple

In [ ]:
dictionary 


interest - wish 
key - value

In [ ]:
mapping referece 


apple - mac book

In [20]:
dd = dict({ "interest" : "wish" , "apple":"mac book" })

In [21]:
type(dd)

dict

In [22]:
dd.keys()

dict_keys(['interest', 'apple'])

In [23]:
dd.values()

dict_values(['wish', 'mac book'])

In [24]:
x = "the apple is good than orange"

In [31]:
x.replace("apple","mac book")

'the mac book is good than orange'

In [ ]:
x.replace(dd.keys())

In [32]:
dd.keys()

dict_keys(['interest', 'apple'])

In [33]:
# for i in dd.keys():
#     dd.values()

In [ ]:
range - 0-1000

In [41]:
x = range(500,1000)

In [42]:
x

range(500, 1000)

In [ ]:
0 - 100 meter (3)

In [43]:
dict = dict({ "num1" : 34 , "Num2" : 45})

In [44]:
range(88888888)

range(0, 88888888)

In [45]:
print("hello world ")

hello world

In [51]:
# set 


a = {1,2,3} 
b = {8989}

In [47]:
type(a)

set

In [50]:
# dd1 = dict({"keys":"value"})

In [52]:
type(b)

set

In [53]:
print(a)

{1, 2, 3}

In [54]:
dd

{'interest': 'wish', 'apple': 'mac book'}

In [55]:
dd.keys()

dict_keys(['interest', 'apple'])

In [56]:
dd.values()

dict_values(['wish', 'mac book'])

In [57]:
dd.items()

dict_items([('interest', 'wish'), ('apple', 'mac book')])

In [60]:
word={'apple':'mac book'}
word

{'apple': 'mac book'}

In [61]:

s='apple is good product'
for key,value in word.items():
    if key in word:
        r=s.replace('apple',value)
        print(r)

mac book is good product

In [66]:
dd["apple"]

'mac book'

In [91]:
x = "apple is good friut"
dd1 = {'orange':'mac book'}
dd1

{'orange': 'mac book'}

In [90]:
# v = dd1.values()

In [85]:
for i in dd1.keys():
    if i in x:
#         print("yess")
        x = x.replace(i,"mac book") , dd1.values()

yess

In [86]:
x

'mac book is good friut'

In [ ]:
# conditional statsments

if cond:
    print("success")
else:
    print("failure")

In [92]:
a = 10
b = 5

gt
lt
eq
not eq

In [96]:
if a < b:      
    print("yes",a)
else:
    print("failed")

failed

In [ ]:
for loop

c = 0 , c < n , c++ -> not necessary

In [ ]:
for loop will give input as data type

In [98]:
x = [1,2,3,4,5]

In [102]:
len(x)

5

In [ ]:
syntax:
    for i in data type or val:
        sttt

In [101]:
for i in x:
    print(i)

1
2
3
4
5

In [109]:
l = ["python","c","jave"]
t = ("python","c++")
s = "murali"
word={'apple':'mac book'}

In [110]:
for i in l:
    print(i)

python
c
jave

In [111]:
for i in t:
    print(i)

python
c++

In [112]:
for i in s:
    print(i)

m
u
r
a
l
i

In [117]:
for i,j in word.items():
    print(i,j)

apple mac book

In [114]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [115]:
word

{'apple': 'mac book'}

In [118]:
x = 5

In [119]:
import numpy

In [120]:
numpy.abs(5)

5

In [122]:
numpy.abs(x)

5

In [124]:
x.numerator

5

In [ ]:
number function - numpy

In [125]:
numpy.sqrt(x)

2.23606797749979

In [126]:
x = "murali"

In [127]:
x.capitalize()

'Murali'

In [128]:
# string funcitons

In [129]:
x = int(5)

In [130]:
x = int(input())

s;g;sgjksdg

ValueError: invalid literal for int() with base 10: 's;g;sgjksdg'

In [131]:
1/0

ZeroDivisionError: division by zero

In [132]:
for i in range(0,6):
print(i)

IndentationError: expected an indented block (3666779265.py, line 2)

In [133]:
fro i in range(6):
    print(i)

SyntaxError: invalid syntax (574342232.py, line 1)

In [134]:
x = 6

In [135]:
print(X)

NameError: name 'X' is not defined

In [136]:
tup=('a','b')

In [160]:
# while loop:

In [ ]:
syntax:
i = 1      
while i < limit:  conditional pass until
    sttt
    i = i+1

In [166]:
i = 0
while i < 6:
    ls  = [1,1,22]
    
    i = i+1

0
1
2
3
4
5

In [164]:
for i in range(0,6):
    print(i)

0
1
2
3
4
5

In [167]:
v = {"name":"murali" , "lis":[1,2,3,4]}

In [168]:
v

{'name': 'murali', 'lis': [1, 2, 3, 4]}

In [169]:
cred = {"user":"mural099" , "pwd":'passwrod'}

In [170]:
if login in cred["pwd"]:
    login to server

'passwrod'

In [174]:
for sabari in range(7):
    print(sabari)

0
1
2
3
4
5
6

In [ ]:

module1 - Tasks

1.create list with your eductaion details
2.create dictionary with your family details
3.create python data type with values btn 40 to 500
4.your 10th marks is gt 300 then grade c , gt 400 grade b , gt 450 grade a,
lt 200 fail , no matches others
5.pass the task 1 to 3 to loop , print the values
6.create string data type and save it in to variable "string" apply string funtions
7.create numer variable then apply numeric function from numpy library
8.create name error with example
9.create one class with function of upper , lower , left , right 
    - pass the value task 6 then show the each fucntion result
10.create function for sqrt , a+b ^2 , a+b ^3 ,C =  9x^2+8y+10z

In [195]:
# iterators 
iter - initalize
next()  - move to next item for iterable ( return value)

SyntaxError: invalid syntax (1762179986.py, line 3)

In [196]:
string = "python"

In [197]:
type(string)

str

In [198]:
char = iter(string)

In [199]:
char

In [209]:
next(char)

In [206]:
tup = ('a,'b')

('a', 'b')

In [214]:
tupe = iter(tup)
next(tupe)

'a'

In [212]:
for item in tup:
    print(item)

a
b

In [140]:
string = "ptyhon"

In [141]:
c = iter(string)

In [144]:
next(c)

'y'

In [217]:
import pickle
x = 5

In [218]:
y = 10

In [219]:
# 20 tera bite  , data base , data repository , cloud ( huge volume of file)

In [ ]:
.pkl ( dump )
.csv
.txt
.xlsx

# pickling in python

In [145]:
# Python pickle module is used for serializing and de-serializing a Python object structure. Any object in Python can be pickled so that it can be saved on disk. What pickle does is that it “serializes” the object first before writing it to file. Pickling is a way to convert a python object (list, dict, etc.) into a character stream. The idea is that this character stream contains all the information necessary to reconstruct the object in another python script.

In [224]:

    Omkar = {'key' : 'Omkar', 'name' : 'Omkar Pathak',
    'age' : 21, 'pay' : 40000}
    Jagdish = {'key' : 'Jagdish', 'name' : 'Jagdish Pathak',
    'age' : 50, 'pay' : 50000}

In [222]:
Omkar

{'key': 'Omkar', 'name': 'Omkar Pathak', 'age': 21, 'pay': 40000}

In [225]:
Jagdish

{'key': 'Jagdish', 'name': 'Jagdish Pathak', 'age': 50, 'pay': 50000}

In [230]:
  
    # database
    db = {}
    db['kamal'] = Omkar  - 222
    db['rajini'] = Jagdish - 225

In [231]:
db

{'kamal': {'key': 'Omkar', 'name': 'Omkar Pathak', 'age': 21, 'pay': 40000},
 'rajini': {'key': 'Jagdish',
  'name': 'Jagdish Pathak',
  'age': 50,
  'pay': 50000}}

In [256]:
import pickle
  
def storeData():
    # initializing data to be stored in db
    Omkar = {'key' : 'Omkar', 'name' : 'Omkar Pathak',
    'age' : 21, 'pay' : 40000}
    Jagdish = {'key' : 'Jagdish', 'name' : 'Jagdish Pathak',
    'age' : 50, 'pay' : 50000}
  
    # database
    db = {}
    db['Omkar'] = Omkar
    db['Jagdish'] = Jagdish
      
    # Its important to use binary mode  - file handling
    dbfile = open('examplePickle', 'ab')
      
    # source, destination
    import pickle
    pickle.dump(db, dbfile)                     
    dbfile.close()

In [257]:
# storeData()

In [241]:
# import pandas
# x = pandas.read_pickle(r"C:\Users\Disha\Documents\examplePickle.pkl")

In [234]:
import os
os.getcwd()

'C:\\Users\\Disha\\Documents'

In [258]:
def loadData():
    # for reading also binary mode is important
    dbfile = open('examplePickle', 'rb')     
    db = pickle.load(dbfile)
    for keys in db:
        print(keys, '=>', db[keys])
    dbfile.close()

In [259]:
storeData()
loadData()

Omkar => {'key': 'Omkar', 'name': 'Omkar Pathak', 'age': 21, 'pay': 40000}
Jagdish => {'key': 'Jagdish', 'name': 'Jagdish Pathak', 'age': 50, 'pay': 50000}

In [260]:
# initializing data to be stored in db
Omkar = {'key' : 'Omkar', 'name' : 'Omkar Pathak', 
'age' : 21, 'pay' : 40000}
Jagdish = {'key' : 'Jagdish', 'name' : 'Jagdish Pathak',
'age' : 50, 'pay' : 50000}
  
# database
db = {}
db['Omkar'] = Omkar
db['Jagdish'] = Jagdish

In [261]:
# myEntry

b = pickle.dumps(db)

In [262]:
b

b'\x80\x04\x95n\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x05Omkar\x94}\x94(\x8c\x03key\x94h\x01\x8c\x04name\x94\x8c\x0cOmkar Pathak\x94\x8c\x03age\x94K\x15\x8c\x03pay\x94M@\x9cu\x8c\x07Jagdish\x94}\x94(h\x03h\x08h\x04\x8c\x0eJagdish Pathak\x94h\x06K2h\x07MP\xc3uu.'

In [263]:
  
# For storing
b = pickle.dumps(db)       
  
# For loading
myEntry = pickle.loads(b)
print(myEntry)

{'Omkar': {'key': 'Omkar', 'name': 'Omkar Pathak', 'age': 21, 'pay': 40000}, 'Jagdish': {'key': 'Jagdish', 'name': 'Jagdish Pathak', 'age': 50, 'pay': 50000}}

In [153]:
# Advantages of using Pickle Module:

# Recursive objects (objects containing references to themselves): Pickle keeps track of the objects it has already serialized, so later references to the same object won’t be serialized again. (The marshal module breaks for this.)
# Object sharing (references to the same object in different places): This is similar to self- referencing objects; pickle stores the object once, and ensures that all other references point to the master copy. Shared objects remain shared, which can be very important for mutable objects.
# User-defined classes and their instances: Marshal does not support these at all, but pickle can save and restore class instances transparently. The class definition must be importable and live in the same module as when the object was stored.

# iterators

In [159]:
Iterator in Python is an object that is used to iterate over iterable objects like lists, tuples, dicts, and sets. The iterator object is initialized using the iter() method. It uses the next() method for iteration.

__iter__(): The iter() method is called for the initialization of an iterator. This returns an iterator object
__next__(): The next method returns the next value for the iterable. When we use a for loop to traverse any iterable object, internally it uses the iter() method to get an iterator object, which further uses the next() method to iterate over. This method raises a StopIteration to signal the end of the iteration.

In [215]:
class Test:
 

    def __init__(self, limit):
        self.limit = limit
 
    def __iter__(self):
        self.x = 10
        return self
    def __next__(self):
 

        x = self.x

        if x > self.limit:
            raise StopIteration
 
        # Else increment and return old value
        self.x = x + 1;
        return x
 
# Prints numbers from 10 to 15
for i in Test(15):
    print(i)
 
# Prints nothing
for i in Test(5):
    print(i)

10
11
12
13
14
15

In [ ]:
# !pip install pandas

In [ ]:
# working on json files

In [2]:
import json

In [ ]:
java script object notation  - json

In [ ]:
api call - json post man

In [ ]:
{ "power":1}  - logics execute

In [ ]:
json - it is mainly used for storing
2.transferring data btn browswer and server.

python in-build ( json ) 

product - 

architecture
technical
api  - 
https://www.radwell.co.uk/en-GB/Buy/SMC/SMC/BALLBEARINGMHQ26/

In [105]:
sample = '{"id":"1234","price":"17790","dept":"samsung"}'

In [106]:
type(sample)

str

In [107]:
covert = json.loads(sample)

In [101]:
type(covert)

dict

In [108]:
json1 = json.dumps(covert,indent=4)

In [109]:
print(json1)

{
    "id": "1234",
    "price": "17790",
    "dept": "samsung"
}

In [20]:
import requests

In [22]:
requests.post("www.radwell.co.uk/en-GB/Buy/SMC/SMC/BALLBEARINGMHQ26/",json1,auth = user , pwd = pwd)  - postman

https://www.amazon.in/Samsung-Inverter-Fully-Automatic-WA70BG4441YYTL-Technology/dp/B0B8NHX62W/ref=sr_1_1_sspa?keywords=washing+machine&qid=1676716343&sprefix=washing+ma%2Caps%2C230&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1

In [24]:
requests.get("www.radwell.co.uk/en-GB/Buy/SMC/SMC/BALLBEARINGMHQ26/")

In [25]:
import json

In [26]:
a = { "name" : "michal" , "age":30 , "exp" : 100}

In [27]:
b = json.dumps(a)

In [28]:
print(b)

{"name": "michal", "age": 30, "exp": 100}

In [32]:
# serialization


var = {   "subjects":{ "maths" : 55 , 
                      "physics" : 90 }
      }

In [45]:
with open('any_file.json','w') as p:
    json.dump(var,p)

In [35]:
import os
os.getcwd()

'C:\\Users\\UMA\\Documents'

In [37]:
with open("sample.json","r") as read_it:
    data = json.load(read_it)

In [39]:
print(data)

{'subjects': {'maths': 55, 'physics': 90}}

In [75]:
json_var ="""
{
	"Country": {
		"name": "INDIA",
		"Languages_spoken": [
			{
				"names": ["Hindi", "English", "Bengali", "Telugu"]
			}
		]
	}
}
"""
var = json.loads(json_var)

In [76]:
var

{'Country': {'name': 'INDIA',
  'Languages_spoken': [{'names': ['Hindi', 'English', 'Bengali', 'Telugu']}]}}

In [ ]:
Encoding: The encode() function is used to convert the python object into a JSON string representation.

Syntax:  

demjson3.encode(self, obj, nest_level=0)

In [110]:
# pip install demjson3
import demjson3
# storing marks of 3 subjects
var = [{"Math": 50, "physics":60, "Chemistry":70}]
(demjson3.encode(var))

'[{"Chemistry":70,"Math":50,"physics":60}]'

In [87]:
type(kk)

str

In [ ]:
Decoding: The decode() function is used to convert the JSON object into python-format type. 

Syntax:

demjson.decode(self, obj)

In [114]:
var = '{"a":0, "b":1, "c":2, "d":3, "e":4}'
text = demjson3.decode(var)

In [117]:
text.items()

dict_items([('a', 0), ('b', 1), ('c', 2), ('d', 3), ('e', 4)])

In [92]:
https://www.radwell.co.uk/en-GB/Buy/BOSCH/AVENTICS/3710302000/

{'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [82]:
# To encode and decode operations
import json
var = {'age':31, 'height':6}
x = json.dumps(var)
y = json.loads(x)
print(x)
print(y)

# when performing from a file in disk
with open("any_file.json", "r") as readit:
	x = json.load(readit)
print(x)

{"age": 31, "height": 6}
{'age': 31, 'height': 6}
{"a":0, "b":1, "c":2, "d":3, "e":4}

In [96]:
import requests
import json

# Now we have to request our JSON data through
# the API package
res = requests.get("https://www.radwell.co.uk/en-GB/Buy/BOSCH/AVENTICS/3710302000")
#var = json.loads(res.text)

# To view your Json data, type var and hit enter
res

In [97]:
res.raise_for_status()

In [113]:
res.text[60:70]

'ps://cdn.c'

In [ ]:
x = decode(result).lower() , fucntion

# Lambda function - Map & filter

In [118]:
min2 = lambda a,b : a if(a>b) else b

In [119]:
min2(1,2)

2

In [120]:
min2(5,2)

5

In [121]:
min2(1,1)

1

In [122]:
li = [5,7,22,33,67,89,32,61]

In [138]:
final = (filter( lambda x : (x%2 !=0 ),li) )

In [139]:
list(final)

[5, 7, 33, 67, 89, 61]

In [141]:
# str(final)

In [142]:
# int(final)

In [143]:
ages = [13,90,17,21,90,78]

In [157]:
calc = list( filter ( lambda rajini : rajini > 18 , ages ) )

In [155]:
calc

[False, True, False, True, True, True]

li

In [156]:
map1 = list( map(lambda x: x *2,li) )

In [158]:
map1

[10, 14, 44, 66, 134, 178, 64, 122]

# Data management or pandas

In [1]:
import pandas

In [ ]:
data managemnt or data ops , data slicing & dicing 
import and Export file from local

In [4]:
kamal = pandas.read_csv(r"D:\python\day_wise.csv",sep=",")

In [5]:
kamal

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [8]:
rajini = pandas.read_json(r"C:\Users\UMA\Documents\sample.json")

In [9]:
rajini

         subjects
maths          55
physics        90

In [11]:
excel = pandas.read_excel(r"C:\Users\UMA\Documents\ARMA_MODEL.xls",sheet_name = "ARMA_Model")

In [13]:
excel = pandas.read_excel("C:\\Users\\UMA\\Documents\\ARMA_MODEL.xls",sheet_name = "ARMA_Model")

In [ ]:
python path define
1.C:\\Users\\UMA\\Documents
2.C:/Users/UMA/Documents
3.r"C:\Users\UMA\Documents"

In [15]:
# excel

In [19]:
text = pandas.read_csv("myfile.txt",sep="@")
text

  hello all       val
0  this  is    delhi
1  this  is  chennai

In [17]:
text , csv - .txt , csv

          hello all
0    this is delhi
1  this is chennai
2    this is mumbai
3       this is hyd

In [ ]:
csv
txt
xls
json

In [20]:
excel

,"ARMA(1,1) Model",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,"Given a series of stationary observations, w...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,first order autoregressive moving average ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Keywords: ARMA, Autoregressive, Moving Avera...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Reference: Box, G. E. P. and Jenkins, G. M.,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,"Revised Edition, Oakland, CA: Holden-...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
104,96,-1.020669,-0.918997,-0.101672,0.010337,NaN,NaN,NaN,NaN
105,97,-2.461478,-0.843698,-1.61778,2.617212,NaN,NaN,NaN,NaN
106,98,-4.194343,-2.749793,-1.44455,2.086725,NaN,NaN,NaN,NaN
107,99,-4.477946,-4.00202,-0.475926,0.226506,NaN,NaN,NaN,NaN
108,100,-4.678271,-3.717088,-0.961183,0.923873,NaN,NaN,NaN,NaN

In [21]:
rajini

         subjects
maths          55
physics        90

In [22]:
kamal

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [24]:
# Export data in to local


kamal.to_csv("output.txt")

In [25]:
kamal.to_json("output.json")

In [26]:
kamal.to_html("output.html")

In [29]:
kamal.to_excel("output.xlsx")

In [ ]:
# pandas
Import    - local to python
Export    - python to local

In [30]:
data managment / data ops

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [32]:
index 
rows
columns

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [33]:
kamal.columns

Index(['Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered', 'No. of countries'],
      dtype='object')

In [34]:
# Basic statistics
kamal.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
count,1.880000e+02,188.000000,1.880000e+02,1.880000e+02,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000,188.000000
mean,4.406960e+06,230770.760638,2.066001e+06,2.110188e+06,87771.021277,3478.824468,50362.015957,4.860638,34.343936,22.104521,144.351064
std,4.757988e+06,217929.094183,2.627976e+06,1.969670e+06,75295.293255,2537.735652,56090.892479,1.579541,16.206159,22.568307,65.175979
min,5.550000e+02,17.000000,2.800000e+01,5.100000e+02,0.000000,0.000000,0.000000,2.040000,1.710000,6.260000,6.000000
25%,1.121910e+05,3935.000000,6.044125e+04,5.864175e+04,5568.500000,250.750000,2488.250000,3.510000,22.785000,9.650000,101.250000
50%,2.848733e+06,204190.000000,7.847840e+05,1.859759e+06,81114.000000,4116.000000,30991.500000,4.850000,35.680000,15.380000,184.000000
75%,7.422046e+06,418634.500000,3.416396e+06,3.587015e+06,131502.500000,5346.000000,79706.250000,6.297500,48.945000,25.342500,187.000000
max,1.648048e+07,654036.000000,9.468087e+06,6.358362e+06,282756.000000,9966.000000,284394.000000,7.180000,57.450000,134.430000,187.000000

In [36]:
100 records  - 25 (avg)    , 50 (avg)   , 75 (avg)

  hello all       val
0  this  is    delhi
1  this  is  chennai

In [ ]:
excel = pandas.read_excel(r"C:\Users\UMA\Documents\ARMA_MODEL.xls",sheet_name = 1)

In [ ]:
# excel1 = pandas.read_excel(r"C:\Users\UMA\Documents\ARMA_MODEL.xls",sheet_name = 2)

In [ ]:
movie , 2D  , X , Y , 3D

In [ ]:
1.Series  - 1D
2.Data frame

In [38]:
s = pandas.Series()

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\2769573115.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pandas.Series()

In [48]:
import numpy
data = numpy.array([1,2,4,5])
data

array([1, 2, 4, 5])

In [51]:
ser = pandas.Series([1,1,45,"kamla"])

In [52]:
ser

0        1
1        1
2       45
3    kamla
dtype: object

In [43]:
type(ser)

pandas.core.series.Series

In [46]:
type(kamal)

pandas.core.frame.DataFrame

In [ ]:
kamal.describe()

In [47]:
ser.describe()

count    4.000000
mean     3.000000
std      1.825742
min      1.000000
25%      1.750000
50%      3.000000
75%      4.250000
max      5.000000
dtype: float64

In [55]:
s = pandas.Series([1,3,5,numpy.nan,8])

In [56]:
s
Nan - pandas blanks
NaT - not a time (blanks)

0    1.0
1    3.0
2    5.0
3    NaN
4    8.0
dtype: float64

In [59]:
lst = [1,2,3,4]

In [61]:
df = pandas.DataFrame(lst)

In [65]:
df = pandas.DataFrame([13,4,7,8],columns=["number"])

In [67]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [70]:
kamal

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
...,...,...,...,...,...,...,...,...,...,...,...,...
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [69]:
kamal.dtypes

Date                       object
Confirmed                   int64
Deaths                      int64
Recovered                   int64
Active                      int64
New cases                   int64
New deaths                  int64
New recovered               int64
Deaths / 100 Cases        float64
Recovered / 100 Cases     float64
Deaths / 100 Recovered    float64
No. of countries            int64
dtype: object

In [ ]:
kamal.TAB

# viewind data

In [71]:
kamal.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13

In [72]:
df  = kamal.copy()

In [73]:
df.tail()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
183,2020-07-23,15510481,633506,8710969,6166006,282756,9966,169714,4.08,56.16,7.27,187
184,2020-07-24,15791645,639650,8939705,6212290,281164,6144,228736,4.05,56.61,7.16,187
185,2020-07-25,16047190,644517,9158743,6243930,255545,4867,219038,4.02,57.07,7.04,187
186,2020-07-26,16251796,648621,9293464,6309711,204606,4104,134721,3.99,57.18,6.98,187
187,2020-07-27,16480485,654036,9468087,6358362,228693,5415,174623,3.97,57.45,6.91,187

In [74]:
df.columns

Index(['Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered', 'No. of countries'],
      dtype='object')

In [77]:
df.index

RangeIndex(start=0, stop=188, step=1)

In [79]:
# filter & data index slice

df[0:3]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9

In [80]:
df[3:7]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13
5,2020-01-27,2927,82,61,2784,809,26,9,2.80,2.08,134.43,16
6,2020-01-28,5578,131,107,5340,2651,49,46,2.35,1.92,122.43,16

In [81]:
df[9:100]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
9,2020-01-31,9927,213,219,9495,1693,42,78,2.15,2.21,97.26,24
10,2020-02-01,12038,259,281,11498,2111,46,62,2.15,2.33,92.17,25
11,2020-02-02,16787,362,459,15966,4749,103,178,2.16,2.73,78.87,25
12,2020-02-03,19887,426,604,18857,3100,64,145,2.14,3.04,70.53,25
13,2020-02-04,23898,492,821,22585,4011,66,217,2.06,3.44,59.93,26
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020-04-26,2964146,210862,825969,1927315,72948,3883,27730,7.11,27.87,25.53,184
96,2020-04-27,3032850,215511,852382,1964957,68704,4649,26413,7.11,28.10,25.28,184
97,2020-04-28,3108149,221974,884680,2001495,75404,6463,32298,7.14,28.46,25.09,184
98,2020-04-29,3185195,228742,925752,2030701,79558,6768,41072,7.18,29.06,24.71,184
99,2020-04-30,3268876,234704,989616,2044556,83681,5962,63864,7.18,30.27,23.72,186

In [82]:
df.columns

Index(['Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered', 'No. of countries'],
      dtype='object')

In [84]:
df[['Date','Deaths', 'Recovered', 'Active']]

           Date  Deaths  Recovered   Active
0    2020-01-22      17         28      510
1    2020-01-23      18         30      606
2    2020-01-24      26         36      879
3    2020-01-25      42         39     1353
4    2020-01-26      56         52     2010
..          ...     ...        ...      ...
183  2020-07-23  633506    8710969  6166006
184  2020-07-24  639650    8939705  6212290
185  2020-07-25  644517    9158743  6243930
186  2020-07-26  648621    9293464  6309711
187  2020-07-27  654036    9468087  6358362

[188 rows x 4 columns]

In [ ]:
df[index number]
df[[col names]]

In [85]:
df.columns

Index(['Date', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered', 'No. of countries'],
      dtype='object')

In [86]:
df[[ 'New recovered', 'Deaths / 100 Cases']][3:5]

   New recovered  Deaths / 100 Cases
3              3                2.93
4             13                2.64

In [90]:
df[1:4][['Date',"Deaths"]]

         Date  Deaths
1  2020-01-23      18
2  2020-01-24      26
3  2020-01-25      42

In [92]:
df[1:4]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11

In [93]:
df['new'] = "HC"

In [95]:
df.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,HC
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,HC
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,HC
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,HC
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,HC

In [96]:
df['calc'] = df['Active'] / df['Recovered']

In [98]:
df2  = df[0:5]

In [99]:
df2.

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,HC,18.214286
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846

In [101]:
df2['ravi'] = ["HC","LF","MN","Power","Aviation"]

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\2378832135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ravi'] = ["HC","LF","MN","Power","Aviation"]

In [102]:
df2

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,HC,18.214286,HC
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000,LF
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667,MN
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308,Power
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846,Aviation

In [104]:
df.head()

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,HC,18.214286
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846

In [105]:
df2

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,17,28,510,0,0,0,3.06,5.05,60.71,6,HC,18.214286,HC
1,2020-01-23,654,18,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000,LF
2,2020-01-24,941,26,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667,MN
3,2020-01-25,1434,42,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308,Power
4,2020-01-26,2118,56,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846,Aviation

In [119]:
# if cond "sucess"  else "fail" 

df2["new"] = numpy.where(  df2["Active"] == 510 , "sucess","fail")

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\4077803326.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["new"] = numpy.where(  df2["Active"] == 510 , "sucess","fail")

In [121]:
# df2

In [110]:
df2["Deaths"] = str(df2["Deaths"])

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\559543320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Deaths"] = str(df2["Deaths"])

In [111]:
df2

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,0 17\n1 18\n2 26\n3 42\n4 56\nN...,28,510,0,0,0,3.06,5.05,60.71,6,Change,18.214286,HC
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000,LF
2,2020-01-24,941,0 17\n1 18\n2 26\n3 42\n4 56\nN...,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667,MN
3,2020-01-25,1434,0 17\n1 18\n2 26\n3 42\n4 56\nN...,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308,Power
4,2020-01-26,2118,0 17\n1 18\n2 26\n3 42\n4 56\nN...,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846,Aviation

In [113]:
df2['Date'] = pandas.to_datetime(df2['Date'])

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\1761772731.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['Date'] = pandas.to_datetime(df2['Date'])

In [116]:
df2.dtypes

Date                      datetime64[ns]
Confirmed                          int64
Deaths                            object
Recovered                          int64
Active                             int64
New cases                          int64
New deaths                         int64
New recovered                      int64
Deaths / 100 Cases               float64
Recovered / 100 Cases            float64
Deaths / 100 Recovered           float64
No. of countries                   int64
new                               object
calc                             float64
ravi                              object
dtype: object

In [117]:
df2

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,0 17\n1 18\n2 26\n3 42\n4 56\nN...,28,510,0,0,0,3.06,5.05,60.71,6,Change,18.214286,HC
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,HC,20.200000,LF
2,2020-01-24,941,0 17\n1 18\n2 26\n3 42\n4 56\nN...,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667,MN
3,2020-01-25,1434,0 17\n1 18\n2 26\n3 42\n4 56\nN...,39,1353,493,16,3,2.93,2.72,107.69,11,HC,34.692308,Power
4,2020-01-26,2118,0 17\n1 18\n2 26\n3 42\n4 56\nN...,52,2010,684,14,13,2.64,2.46,107.69,13,HC,38.653846,Aviation

In [123]:
df3 = df2[["Date","Confirmed","Deaths"]]

In [124]:
df3

        Date  Confirmed                                             Deaths
0 2020-01-22        555  0    17\n1    18\n2    26\n3    42\n4    56\nN...
1 2020-01-23        654  0    17\n1    18\n2    26\n3    42\n4    56\nN...
2 2020-01-24        941  0    17\n1    18\n2    26\n3    42\n4    56\nN...
3 2020-01-25       1434  0    17\n1    18\n2    26\n3    42\n4    56\nN...
4 2020-01-26       2118  0    17\n1    18\n2    26\n3    42\n4    56\nN...

In [125]:
df3.T

,0,1,2,3,4
Date,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00
Confirmed,555,654,941,1434,2118
Deaths,0 17\n1 18\n2 26\n3 42\n4 56\nN...,0 17\n1 18\n2 26\n3 42\n4 56\nN...,0 17\n1 18\n2 26\n3 42\n4 56\nN...,0 17\n1 18\n2 26\n3 42\n4 56\nN...,0 17\n1 18\n2 26\n3 42\n4 56\nN...

In [127]:
df2[0:2]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,0 17\n1 18\n2 26\n3 42\n4 56\nN...,28,510,0,0,0,3.06,5.05,60.71,6,sucess,18.214286,HC
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,fail,20.200000,LF

In [129]:
df2[ df2["Active"] > 600  ]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,fail,20.200000,LF
2,2020-01-24,941,0 17\n1 18\n2 26\n3 42\n4 56\nN...,36,879,287,8,6,2.76,3.83,72.22,9,fail,24.416667,MN
3,2020-01-25,1434,0 17\n1 18\n2 26\n3 42\n4 56\nN...,39,1353,493,16,3,2.93,2.72,107.69,11,fail,34.692308,Power
4,2020-01-26,2118,0 17\n1 18\n2 26\n3 42\n4 56\nN...,52,2010,684,14,13,2.64,2.46,107.69,13,fail,38.653846,Aviation

In [134]:
df2[ (df2["Active"] > 600) &  (df2['calc'] < 30) or  ()  and () ]

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,fail,20.200000,LF
2,2020-01-24,941,0 17\n1 18\n2 26\n3 42\n4 56\nN...,36,879,287,8,6,2.76,3.83,72.22,9,fail,24.416667,MN

In [137]:
df2["new"] = ["Hc","PW","HC","MN","PW"]

C:\Users\UMA\AppData\Local\Temp\ipykernel_10740\1973535964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["new"] = ["Hc","PW","HC","MN","PW"]

In [138]:
df2

,Date,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries,new,calc,ravi
0,2020-01-22,555,0 17\n1 18\n2 26\n3 42\n4 56\nN...,28,510,0,0,0,3.06,5.05,60.71,6,Hc,18.214286,HC
1,2020-01-23,654,0 17\n1 18\n2 26\n3 42\n4 56\nN...,30,606,99,1,2,2.75,4.59,60.00,8,PW,20.200000,LF
2,2020-01-24,941,0 17\n1 18\n2 26\n3 42\n4 56\nN...,36,879,287,8,6,2.76,3.83,72.22,9,HC,24.416667,MN
3,2020-01-25,1434,0 17\n1 18\n2 26\n3 42\n4 56\nN...,39,1353,493,16,3,2.93,2.72,107.69,11,MN,34.692308,Power
4,2020-01-26,2118,0 17\n1 18\n2 26\n3 42\n4 56\nN...,52,2010,684,14,13,2.64,2.46,107.69,13,PW,38.653846,Aviation

In [145]:
df2[  df2['new'] == "PW" ][['Active',"New deaths"]].sum()

Active        2616
New deaths      15
dtype: int64

In [148]:
df2[  df2['new'] == "PW" ][['Active',"New deaths"]].max()

Active        2010
New deaths      14
dtype: int64

In [147]:
df2[  df2['new'] == "PW" ][['Active',"New deaths"]].mean()

Active        1308.0
New deaths       7.5
dtype: float64

In [ ]:
df[ condition  ]  - Querying